.Guardado1{
    --background: #f6d83c;
    color: white;
    margin: auto;
    margin-top: 50px;
}

.Retornar1{
    --background: #fd8b00;
    color:  white;
    margin: auto;
    margin-top: 50px;
}

ion-toolbar{
    --background: #f6d83c;
    color: white;
  
}