
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
         <ion-label position="floating">Email</ion-label>
         <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
         </ion-item>

      </ion-list>

    </ion-card-content>

    <ion-button expand="block" shape="round" (click)="login()" color="tertiary">Login</ion-button>
  </ion-card>

  <div style="padding: 20px; text-align: center;">
    <a (click)="forgot()">Olvidaste la constraseña?</a>
    <br>
    <br>
    <a (click)="register()">Registrarse</a>
  </div>

</ion-content>
