#conteiner
{
    --ion-width-xs: 80%;
}

.cantidadC
{
    position: relative;
    left: 35px;
}

.dateC
{
    position: relative;
    left: 55px;
}

.boton1{
    --background: #f6d83c;
    color:  white;
}

.boton2{
    --background: #fd8b00;
    color:  white;
}
