<ion-header> 
  <ion-toolbar>
    <ion-title>
      Productos 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/12.jpg" width="300" height="300">
      <ion-card-title>Empanada de Pollo </ion-card-title>
    </ion-card-header>
    <ion-button class = "btn1" (click)="receta_emp()">
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA A PRODUCIR
  </ion-button>
  <ion-button class = "btn1"(click)="ingredientes_emp()">
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA
  </ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/13.jpg" width="300" height="300">
      <ion-card-title>Empanada de Carne </ion-card-title>
    </ion-card-header>
    <ion-button class = "btn1" (click)="receta_emc()">
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA A PRODUCIR
  </ion-button>
  <ion-button class = "btn1"(click)="ingredientes_emc()">
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA
  </ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/14.jpg" width="300" height="300">
      <ion-card-title>Empanada de Queso </ion-card-title>
    </ion-card-header>
    <ion-button class = "btn1" (click)="receta_emq()">
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA A PRODUCIR
  </ion-button>
  <ion-button class = "btn1" (click)="ingredientes_emq()">
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA
  </ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/15.jpg" width="300" height="300">
      <ion-card-title>Empanada de Jamon y Queso </ion-card-title>
    </ion-card-header>
    <ion-button class = "btn1" (click)="receta_ejq()">
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA A PRODUCIR
  </ion-button>
  <ion-button class = "btn1" (click)="ingredientes_ejq()">
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA
  </ion-button>
  </ion-card>
