<ion-header> 
  <ion-toolbar>
    <ion-title>
      Productos 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/12.jpg" width="300" height="300">
      <ion-card-title>Empanada de Pollo </ion-card-title>
    </ion-card-header>
    <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA A PRODUCIR
    <a href="/receta-emp" target="_blank">receta</a><br>
  </ion-button>
  <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA
    <a href="/ingredientes-emp" target="_blank">receta</a><br>
  </ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/13.jpg" width="300" height="300">
      <ion-card-title>Empanada de Carne </ion-card-title>
    </ion-card-header>
    <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA A PRODUCIR
    <a href="/receta-emc" target="_blank">receta</a><br>
  </ion-button>
  <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA
    <a href="/ingredientes-emc" target="_blank">receta</a><br>
  </ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/14.jpg" width="300" height="300">
      <ion-card-title>Empanada de Queso </ion-card-title>
    </ion-card-header>
    <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA A PRODUCIR
    <a href="/receta-emq" target="_blank">receta</a><br>
  </ion-button>
  <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA
    <a href="/ingredientes-emq" target="_blank">receta</a><br>
  </ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/15.jpg" width="300" height="300">
      <ion-card-title>Empanada de Jamon y Queso </ion-card-title>
    </ion-card-header>
    <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA A PRODUCIR
    <a href="/receta-ejq" target="_blank">receta</a><br>
  </ion-button>
  <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    RECETA
    <a href="/ingredientes-ejq" target="_blank">receta</a><br>
  </ion-button>
  </ion-card>
