<ion-header>
   
  <ion-toolbar color="mycolor">
    
    <ion-row class="ion-align-items-center" color="mycolor">
       
      <ion-col size="2">
        <img src="./assets/chacha.png" class="logo ion.text-left"> 
      </ion-col>

      <ion-col size="5">
        <ion-segment>
          <ion-segment-button value="Inventario">
            <ion-label >INVENTARIO </ion-label>
          </ion-segment-button>   
          <ion-segment-button value="ProcesoProductivo">
            <ion-label >PROCESO PRODUCTIVO </ion-label>
          </ion-segment-button> 
          <ion-segment-button value="InsumosPorLote">
            <ion-label >INSUMOS POR LOTE </ion-label>
          </ion-segment-button> 
        </ion-segment>          
      </ion-col>
    </ion-row>
    
    
  </ion-toolbar>
  
    
   </ion-header>

<ion-content color= "mycolor" >

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
    
    <ion-fab-list side="bottom" (click)= "register()">
      <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start" (click)= "login()">
      <ion-fab-button><ion-icon name="log-out"></ion-icon></ion-fab-button>
    </ion-fab-list>
    
  </ion-fab>
  


  <ion-grid fixed>
    <ion-row>
        <ion-segment>
          <ion-segment-button value="crear" (click)="anadir()">
            <ion-label>CREAR PRODUCTO</ion-label>
          </ion-segment-button>
          
          <ion-segment-button value="eliminar" (click)="eliminar()">
            <ion-label>ELIMINAR PRODUCTO</ion-label>
          </ion-segment-button>

            <ion-segment-button value="stock" (click)="stock()">
              <ion-label>STOCK</ion-label>
            </ion-segment-button>

              <ion-segment-button value="desechos">
                <ion-label>DESECHOS</ion-label>

          </ion-segment-button>
        </ion-segment>
    </ion-row>
  </ion-grid>
</ion-content>

